Flask==0.10.1
Flask-S3==0.1.4
Flask-Script==0.6.0
Flask-SocketIO==0.3.8
Jinja2==2.7.1
MarkupSafe==0.18
Pillow==2.5.0
PyMySQL==0.6.2
Werkzeug==0.9.3
argparse==1.2.1
boto==2.10.0
gunicorn==17.5
itsdangerous==0.22
numpy==1.8.1
pandas==0.14.1
python-dateutil==2.2
pytz==2014.4
six==1.7.3
wsgiref==0.1.2
