{% extends "base.html" %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container one-third column center">
	<a href="{{ url_for('people') }}"><img src="{{ url_for('static', filename='photo/IMG_1953_edited-1.jpg') }}"></a>
	<h3>People</h3>
</div>
<div class="container one-third column center">
	<a href=""><img src="{{ url_for('static', filename='photo/IMG_4392_edited-2.jpg') }}"></a>
	<h3>Nature</h3>
</div>
<div class="container one-third column center">
	<a href=""><img src="{{ url_for('static', filename='photo/IMG_1254_edited-1.jpg') }}"></a>
	<h3>Etcetera</h3>
</div>
{% endblock %}