<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Stephanie Northway{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Stephanie Northway: Engineer, Designer, Artist">
		<!-- Links for CSS and JS go here -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" type="text/css" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
	</head>
	<body>
		<div id="nav-container">
			<div class="container sixteen columns">
				<div>
					<img id="banner" src="{{ url_for('static', filename='img/banner.jpg') }}">
					{% block navbar %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="container sixteen columns">
			{% block content %}{% endblock %}
			<footer class="container sixteen columns">
				<hr>
				<p>&copy; Stephanie Northway 2013</p>
			</footer>
		</div>
		{% block extrajs %}{% endblock %}
	</body>
</html>