{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
	.emph {
		font-family: 'Roboto Slab';
		font-size: 1.1em;
		font-weight: 300;
	}

	address {
		margin-bottom: 1em;
	}
</style>
{% endblock %}

{% block navbar %}
{% set contactActive = 'active' %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container sixteen columns">
	<p><span class="emph">Thanks for your interest!</span>
	<br/>
	In order from most effective to least, here is how you can get in touch with me:</p>
</div>
<div class="container fifteen columns offset-by-one">
	<p>Email me at <a href="mailto:stephanie.northway@gmail.com">stephanie.northway@<span class="emph">gmail</span>.com</a></p>
	<p>Email me at <a href="mailto:stephanie.northway@students.olin.edu">stephanie.northway@<span class="emph">students</span>.olin.edu</a></p>
	<p>Message me on <a class="emph" href="https://www.linkedin.com/pub/stephanie-northway/54/b59/795">LinkedIn</a></p>
	<p>Tweet <a class="emph" href="https://twitter.com/sn0rthway">@sn0rthway</a></p>
	<p>Send me <span class="emph">mail</span> at:</p>
	<address>
		1000 Olin Way
		<br>
		Mailbox 451
		<br>
		Needham, MA 02492
	</address>

</div>
{% endblock %}