{% extends "base.html" %}

{% block navbar %}
{% set engActive = 'active' %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container four columns">
	<h3>Solar Camera</h3>
	<h3>TrANTsporter</h3>
	<h3>Asteroid Simulaton</h3>
	<h3>Theremin</h3>
	<h3>Living Lab Design</h3>
	<h3>Reed-Solomon Codes</h3>
	<h3>Jackson the CNC Music Visualizer</h3>
	<h3>Dyson Fan</h3>
	<h3>Nanowire FETs Paper</h3>
	<h3>PN Junction, MOSFET and BJT Presentations</h3>
	<h3>Smart Soil</h3>
	<h3>Regional Analysis Project/Poster(s)</h3>
	<h3>Zambian Pot Analysis</h3>
	<h3>Speaker LCA / Party Buds</h3>
	<h3>Physarum</h3>
	<h3>Ivanpah Molten Salt Simulation</h3>
	<h3>Microgrid Model</h3>
	<h3>NeuroScouting - Full Stack Development</h3>
	<h3>Continuum - Finite State Machine; Database Design; Raspberry Pi Development; Systems Integration; Graph</h3>
</div>
{% endblock %}