{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
	.project-info {
		text-align: left;
	}

	.project-info > p {
		margin-top: 0;
	}

	.logo-span {
		display: inline;		
	}

	.logo {
		width: 1em;
		height: 1em;
		margin-right: 0.5em;
		margin-top: 0.25em;
		float: right;
		position: relative;
		top: 50%;
	}

</style>
{% endblock %}

{% block navbar %}
{% set engActive = 'active' %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container four columns" style="display:none;">
	<h3>Solar Camera</h3>
	<h3>TrANTsporter</h3>
	<h3>Asteroid Simulaton</h3>
	<h3>Theremin</h3>
	<h3>Living Lab Design</h3>
	<h3>Reed-Solomon Codes</h3>
	<h3>Jackson the CNC Music Visualizer</h3>
	<h3>Dyson Fan</h3>
	<h3>Nanowire FETs Paper</h3>
	<h3>PN Junction, MOSFET and BJT Presentations</h3>
	<h3>Smart Soil</h3>
	<h3>Regional Analysis Project/Poster(s)</h3>
	<h3>Zambian Pot Analysis</h3>
	<h3>Speaker LCA / Party Buds</h3>
	<h3>Physarum</h3>
	<h3>Ivanpah Molten Salt Simulation</h3>
	<h3>Microgrid Model</h3>
	<h3>NeuroScouting - Full Stack Development</h3>
	<h3>Continuum - Finite State Machine; Database Design; Raspberry Pi Development; Systems Integration; Graph</h3>
</div>
<div class="container sixteen columns">
	<p>Below is a collection of various engineering projects I've done, both for school and for fun.</p>
</div>

<div id="accordion">

	<div class="container sixteen columns section">
			<h3>Visualizing Productivity
				<span class="logo-span">
					<img src="{{ url_for('static', filename='img/d3logo.svg') }}" class="logo" title="D3.js">
				</span>
			</h3>
			<hr class="section-divider">
	</div>
	<div class="container sixteen columns">
		<div class="container fifteen columns center">
		<div class="container six columns project-info">
				<p>
					Over the course of a semester, I recorded the time I spent on every single (productive) out-of-class activity and visualized the results with d3.js.
				</p>
				<p>
					It was valuable as an exercise in consistency and holding myself accountable. Later I used it as an excuse to teach myself d3. I learned a lot about my habits, and now you can scrutinize them yourself! Disclaimer: this particular demo is not responsive, so it'll only look good if you're on something 960+ pixels wide.
				</p>
			</div>
			<div class="container eight columns">
				<a href="{{ url_for('productivity') }}"><img class="slide" src="{{ url_for('static', filename='img/wark.png') }}"></a>
				<p class="caption">Check out the interactive graph here.</p>
			</div>			
		</div>
	</div>

	<div class="container sixteen columns section">
		<h3>User-Oriented Collaborative Design: Smart Soil
			<span class="logo-span">
				<img src="{{ url_for('static', filename='img/ucd.png') }}" class="logo" title="User-Centric Design">
			</span>
		</h3>
		
		<hr class="section-divider">
	</div>
	<div class="container sixteen columns drawing-container">
		<div class="container fifteen columns">
			<p>My <a href="https://www.youtube.com/watch?v=flzLccUlGyA">UOCD</a> team worked with farmers who ran community supported agriculture programs (CSAs) to design a product based on their needs and values. We ended up designing the concept for a distributed sensing network for soil health metrics, which we called "Smart Soil". This included an application that would present the data in actionable terms: for example, how to plan next year's crops and when/where to amend the soil. Below is an overview of the process we went through to develop the idea.</p>
			<div class="center">
				<iframe src="//www.slideshare.net/slideshow/embed_code/40551711" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>

	<div class="container sixteen columns section">
		<h3>Theremin
			<span class="logo-span">
				<img src="{{ url_for('static', filename='img/circuits_inverted.png') }}" class="logo" title="Circuits">
			</span>
		</h3>
		<hr class="section-divider">
	</div>
	<div class="container sixteen columns" style="display:none;">
		<div class="container fifteen columns center">
			<p>Working in a team of four, I designed and built a playable analog theremin.</p>
		</div>
	</div>

	<div class="container sixteen columns section">
		<h3>Physarum Experiment
			<span class="logo-span">
				<img src="{{ url_for('static', filename='img/d3logo.svg') }}" class="logo" title="D3.js">
				<img src="{{ url_for('static', filename='img/circuits_inverted.png') }}" class="logo" title="Circuits">
			</span>
		</h3>
		<hr class="section-divider">
	</div>
	<div class="container sixteen columns">
		<div class="container fifteen columns">
			<div class="container eight columns center">
				<a href="{{url_for('physarum')}}"><img src="{{url_for('static', filename='eng/physarum.png')}}" class="slide"></a>
				<p class="caption">Minimum spanning tree of the most populous cities in the Greater Boston Area, superimposed on the slime mold network.</p>
			</div>
			<div class="container six columns">
				<p>As an individual project for Sustainable Design class, I decided to explore biomimicry by studying how slime mold forms networks to transport nutrients. I conducted an experiment to attempt to simulate Boston's transportation systems with the emergent structures of the slime mold <i>physarum polycephalum</i>. In a petri dish, I laid out food sources in the arrangement of Boston's most populous cities (I put salt where the ocean would be to discourage formation of plasmodia there).</p>
				<p> As part of the experiment I built an intervalometer for my SLR and set it up to do a time-lapse of the process. I also wrote a minimum spanning tree algorithm which I implemented in d3.js, which generated the graph on the left. Many things did not go as planned with this experiment, but I learned a lot in the process.</p>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$( "#accordion" ).accordion({
			heightStyle: "content"
		});	
	});

</script>

{% endblock %}