{% extends "base.html" %}

{% block navbar %}
{% set aboutActive = 'active' %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container sixteen columns">
	<div class="container four columns">
		<img src="{{ url_for('static', filename='photo/IMG_3043_edited-1_resized') }}">
	</div>
	<div class="container ten columns offset-by-one">
		<p>
		Hi! I'm Steph. I'm a senior at Franklin W. Olin College of Engineering, majoring in Electrical and Computer Engineering. I'm passionate about user-centered design, the future of the planet and moving electrons around in clever ways. In the meantime I also write a lot of code and make a little art. This is where I keep the work I'm proud of, so please take a look around.
		</p>
	</div>
</div>
{% endblock %}
