{% extends "base.html" %}

{% block title %}Physarum Boston Model{% endblock %}

{% block content %}
	<div id="map"></div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/gba_utils.js') }}"></script>
<script type="text/javascript">
	// petri dish photo, for funzies
	svg.append("svg:image")
	.attr("xlink:href", "{{ url_for('static', filename='other/petri_light_bw.JPG')}}")
	.attr("x",150)
	.attr("y",120)
	.attr("height", 660)
	.attr("width", 660);

	var csv_url = "{{ url_for('static', filename='other/gba_pop_revised.csv')}}";
</script>
<script src="{{ url_for('static', filename='js/gba_cities.js') }}"></script>
<script type="text/javascript">
//Ugly code, completely written between 8PM on Dec. 18 and 5AM on Dec 19
//Previous comment is no longer true, except for the ugly part. Ewwww

	// // Deal with road csv
	// d3.csv("{{ url_for('static', filename='other/road_nodes.csv')}}", function(roadCSV){

	// 	var distanceMatrixRoads = findDistanceMatrix(roadCSV);
	// 	// console.log(distanceMatrixRoads);

	// 	// append the data to roadCSV info
	// 	for (var i=0; i<roadCSV.length; i++){
	// 		roadCSV[i].dists = distanceMatrixRoads[i];
	// 		roadCSV[i].connected = false;
	// 		roadCSV[i].clicked = false;
	// 	}
	// 	roadCSV.connections = [];
	// 	// console.log(roadCSV);
	// 	// console.log(roadCSV[0].dists);

	// 	// find the minimum spanning tree
	// 	var roadNetworkLength;
	// 	function findMST(data, r){
	// 		if (r == false){
	// 			roadNetworkLength = Math.min.apply(null, data[0].dists);
	// 			var indexOfMin = data[0].dists.indexOf(Math.min.apply(null, data[0].dists));
	// 			data.connections.push([0,indexOfMin]);
	// 			data[0].connected = true;
	// 			data[0].dists[indexOfMin] = big;
	// 			data[indexOfMin].connected = true;
	// 			data[indexOfMin].dists[0] = big;

	// 			// draw lines here because I suck
	// 			drawRoad(data[0], data[indexOfMin], "green");

	// 			// recurse!
	// 			findMST(data, true);
	// 		} else {
	// 			var conNodes = data.filter(function (d){return d.connected == true});
	// 			// initialize to something that will error
	// 			var indexOfMin = -1;
	// 			var conNodeIndex = -1;
	// 			for (i=0;i<conNodes.length;i++){
	// 				if (i==0){
	// 					var conNodeMin = Math.min.apply(null, conNodes[i].dists);
	// 					indexOfMin = conNodes[i].dists.indexOf(conNodeMin);
	// 					conNodeIndex = i;
	// 				} else {
	// 					newConNodeMin = Math.min.apply(null, conNodes[i].dists);
	// 					var newIndex = conNodes[i].dists.indexOf(newConNodeMin);
	// 					if (newConNodeMin < conNodeMin){
	// 						conNodeMin = newConNodeMin;
	// 						indexOfMin = newIndex;
	// 						conNodeIndex = i;
	// 					}
	// 				}
					
	// 			}
	// 			roadNetworkLength += conNodeMin;
	// 			var oldNodeIndex = data.indexOf(conNodes[conNodeIndex]);
	// 			// if (conNodes.length == 15){console.log(oldNodeIndex);}
	// 			data.connections.push([oldNodeIndex, indexOfMin]);
	// 			data[oldNodeIndex].dists[indexOfMin] = big;
	// 			data[indexOfMin].connected = true;
	// 			data[indexOfMin].dists[oldNodeIndex] = big;

	// 			data.forEach(function(entry){
	// 				if (entry.connected == true){
	// 					for (i=0;i<data.length;i++){
	// 						if (data[i].connected == true){
	// 							entry.dists[i] = big;
	// 						}
	// 					}
	// 				}
	// 			});

	// 			// draw lines here because I suck
	// 			drawRoad(data[oldNodeIndex], data[indexOfMin], "green");

	// 			// if all nodes are connected, return data
	// 			if (data.every(function (d){return d.connected == true})){
	// 				console.log("roads", roadNetworkLength);
	// 				return data;
	// 			} else {
	// 				// recurse!
	// 				findMST(data, true);
	// 			}
	// 		}
	// 	}

	// 	findMST(roadCSV, false);


	// 	var roadNodes = svg.selectAll("rect")
	// 	.data(roadCSV)
	// 	.enter()
	// 	.append("rect")

	// 	var drawnRoadLength = 0;

	// 	var roadNodeAttributes = roadNodes
	// 	.style("stroke", "gray")
	// 	.style("fill", "green")
	// 	.attr("width", 14)
	// 	.attr("height", 14)
	// 	.attr("x", function (d){return roadCenter(d, "x");})
	// 	.attr("y", function (d){return roadCenter(d, "y");})
	// 	.on("click", function (d){
	// 		if (d.clicked == true){
	// 			d3.select(this).style("fill", "green");
	// 			d.clicked = false;
	// 		} else {
	// 			d3.select(this).style("fill", "red");
	// 			d.clicked = true;
	// 		}
	// 		var clickedRoads = roadNodes.data().filter(function(data){return data.clicked == true;});
	// 		if (clickedRoads.length == 2){
	// 			drawRoad(clickedRoads[0], clickedRoads[1], "red");
	// 			roadNodes.data().forEach(function(entry){entry.clicked = false;});
	// 			drawnRoadLength += findDistance(clickedRoads[0], clickedRoads[1]);
	// 			console.log("total length: ",drawnRoadLength);
	// 		}
	// 	});

	// 	// make the labels, give them csv as data
	// 	var roadLabels = svg.selectAll("text")
	// 	.data(roadCSV)
	// 	.enter()
	// 	.append("text");

	// 	// style and position and text
	// 	var roadLabelAttributes = roadLabels
	// 	.style("font-size", "10px")
	// 	.style("fill","red")
	// 	.attr("x", function (d){return roadCenter(d, "x");})
	// 	.attr("y", function (d){return roadCenter(d, "y");})
	// 	.text(function (d){return d["Longitude (W)"]});
	// });
	


</script>
{% endblock %}