{% extends "base.html" %}

{% block title %}Productivity{% endblock %}

{% block content %}
	<div id="map"></div>
{% endblock %}

{% block extrajs %}
<script class="hiddenSpellError" type="text/javascript"
src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript">
	// width and height
	var w=960, h=900;

	// make the svg element
	svg=d3.select("#map")
	.append("svg")
	.attr("width",w)
	.attr("height",h)
	.style("background-color", "#3A3C42");

	var url = "https://spreadsheets.google.com/feeds/cells/0AhPpLHO-t5J7dG41ZG81Qk4yQjFIRFgxMV9VdmtGSlE/od6/public/basic"

	$.getJSON(url, function (resp){
		console.log(resp);
		console.log(typeof resp);
		console.log('hello');
	}).fail(function( jqxhr, textStatus, error ) {
                    var err = textStatus + ', ' + error;
                    console.log( "Request Failed: " + err);
              });

</script>
{% endblock %}