<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Stephanie Northway{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Stephanie Northway: Engineer, Designer, Artist">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resume.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="paper-container">
			<h1>Stephanie Northway</h1>
			<hr>
			<address>1000 Olin Way, Needham MA 02492</address>
			<address class="right">stephanie.northway@students.olin.edu (218) 251-0553</address>
			<h2>Education</h2>
			<h4>Franklin W. Olin College of Engineering</h4>
			<ul>
				<li>Pursuing Bachelor of Science in Engineering: Sustainable Design (GPA: 3.55)</li>
				<li>Relevant Coursework: Sustainable Building Design, Regional Analysis in Development, Bayesian Inference and Reasoning, Real World Measurements, User-Oriented Collaborative Design, Design Nature, Sustainable Design, etc.</li>
			</ul>
			<h2>Experience</h2>
			<h4>NeuroScouting</h4>
			<ul>
				<li>Redesigned an existing website for baseball scouts using Django, Bootstrap and jQuery</li>
				<li>Developed and designed a website from the ground up, using Django, for people with or at risk of dementia to upload content; conducted one-on-one user surveys for feedback and testing</li>
			</ul>
			<h4>Design Nature Course Assistant</h4>
			<ul>
				<li>Helped first year students conceptualize, design, build and document their biomimetic prototypes; laser cut numerous parts out of Delrin plastic</li>
			</ul>
			<h4>Aramark Green Campus Summer Fellowship</h4>
			<ul>
				<li>Worked with Olin Facilities Department to identify and fix problems relevant to sustainability; engaged nearly 1/3 of Olin’s student body to create solutions based on their values and input</li>
				<li>Started a composting program in dorm kitchens; set up a data logging system on Olin’s solar panels; landscaped an area of Olin with native, bee-friendly plants; set up public, regularly updated energy use graphs for the dorms; numerous other projects</li>
			</ul>
			<h4>Bright Loop Learning</h4>
			<ul>
				<li>Worked with a team to develop an iPad app for teachers to organize notes about students to facilitate individualized learning</li>
				<li>Designed and styled the user interface using Sencha Touch 2 and SCSS</li>
			</ul>
			<h4>Absolute Impact Research</h4>
			<ul>
				<li>Worked with professor Benjamin Linder and two students to find ideal limits of embodied carbon dioxide for products and communicate this to product designers</li>
				<li>Co-authored paper presenting the idea of Absolute Impact and its applications, including a case study on Keurig coffeemakers</li>
			</ul>
			<h4>BHS Aquatic Research Team</h4>
			<ul>
				<li>Started collaborative project between A&W Research Labs and Brainerd High School to analyze effects of pollutants on the behavior of zooplankton and resultant ecosystem-wide effects</li>
				<li>Wrote, revised and presented grant proposals to local banks, corporations, and Tracy Kennedy, Director of Engineering at General Dynamics</li>
				<li>Received multiple donations and two underwater video cameras from Aqua-Vu Underwater Viewing Systems</li>
			</ul>
			<h4>Engum's Academy of Taekwondo</h4>
			<ul>
				<li>Assistant instructor– earned 3rd degree black belt, taught TaeKwonDo techniques and philosophies to a wide range of ages and skill levels 4-8 hours/week</li>
			</ul>
			<h4>School Projects</h4>
			<ul>
				<li>Wrote a paper on the applications of nanowire transistors in CMOS technology</li>
				<li>Designed the experience around a distributed sensing network for farmers to track soil health metrics</li>
				<li>Designed and built a theremin from scratch</li>
				<li>Modified a digital camera to run partially on solar power</li>
			</ul>
			<h2>Skills</h2>
			<ul>
				<li><em>Programming and Web:</em> Proficient with Python, Django, Flask, JavaScript, jQuery, HTML/CSS, Bootstrap; familiar with Java</li>
				<li><em>Software Tools:</em> Proficient with Inkscape, Adobe Photoshop and Fireworks MATLAB; familiar with Solidworks, Blender</li>
				<li><em>Machines:</em> Proficient with the laser cutter, scanning electron microscope, TGA, FTIR, drill press, band saw</li>
			</ul>
		</div>
	</body>
</html>