body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #BFB6AA;
	margin: 0;
	background-color: #000
}

div {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

#nav-container {
	margin-bottom: 35px;
}

#nav-list {
	display: inline;
	text-align: center;
}

#nav-list > li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	margin-top: -20px;
}

a {
	color: #F2C8A2;
	text-decoration: none;
}

a:hover {
	color: #666E73;
}

.center {
	text-align: center;
}