
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #BFB6AA;
	margin: 0;
	background-color: #000
}

p {
	font-size: 1.15em;
}

p.footer {
	font-size: 1em;
}

footer {
	margin-top: 10px;
}

h3 {
	font-weight: 300;
	font-size: 1.75em;
	margin-bottom: .5em;
}

div {
	margin-bottom: 20px;
}

span.name {
	margin-top: 10px;
	margin-bottom: 0; 
	color: #F2C8A2
}

h1 {
	font-family: 'Roboto Slab';
	font-size: 2.25em;
	font-weight: 300; 
	margin-top: 0; 
	margin-bottom: 0;
}

h1#last-name {
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

#banner {
	background-size: 100%; 
	background-repeat: no-repeat;
}

#nav-container {
	/*margin-bottom: 35px;*/
}

#nav-list {
	display: inline;
	text-align: center;
}

#nav-list > li {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	float: left;
	list-style-type: none;
	margin-left: 30px;
	margin-top: 5px;
}

a {
	color: #F2C8A2;
	text-decoration: none;
}

li > a:hover,
li > a.active {
	/*color: #666E73;*/
	border-bottom: 1px solid #F2C8A2;
}

img.slide {
	max-width: 100%;
	max-height: 500px;
}

.center {
	text-align: center;
}

.section:hover {
	color: #666E73;
	cursor: pointer;
}

.section-divider {
	margin-top: .25em;
	margin-bottom: 1.25em;
}

/*Override active tab thing from jQuery UI*/
.ui-state-active {
	outline: none;
}