body {
	color: #BFB6AA;
	margin: 0;
}

div {
	margin-bottom: 20px;
}

.navbar-banner {
	
	background-color: #000;
}

.navbar-banner > div {
	position: relative;
	width: 1111px;
	margin: 0px auto;
}

#banner {
	max-width: 100%;
}

.thumb {
	max-width: 200px;
}