body {
	background-color: black;
	text-align: center;
}

ul {
	/*list-style-type: none;*/
	margin-top: -20px;
}

li {
	margin-bottom: 5px;
}

h1 {
	font-variant: small-caps;
	letter-spacing: 3px;
	margin-top: 5px;
}

h2 {
	margin-top: 10px;
}

h4 {
	margin-top: -10px;
}

.paper-container {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 8.5in;
	height: 11in;
	padding: 0.5in;
	background-color: white;
	font-family: 'Roboto Thin', sans-serif;
}

.right {
	text-align: right;
	margin-top: -20px;
}

.date {
	text-align: right;
	margin-top: -40px;
}